@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

:root{
    --header-font:"DM Serif Display", serif;
}

.futsal-img-card{
    width: 90%;
    object-fit: cover;
    padding: 1em;
}

.front-image-futsal{
    width: 100%;
    height: 50vh;
    object-fit: cover;
}
body{
    background-color: rgb(243, 239, 243);
}
.img-overlay{
    position:absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img-overlay-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image-overlay-header{
    font-size:4em;
    margin-bottom: 0.25em;
    color: white;
}
.image-overlay-sub-header{
    margin-top: 0;
    font-size: 1.5em;
    color: white;
}
.find-futsal-btn{
    margin-top: 1em;
    background-color: rgb(31, 136, 12);
    border-radius: 15px;
    padding-inline: 2em;
    padding-block: 0.85em;
    text-decoration: none;
    color: white;
    font-size: 1.25em;
    letter-spacing: 0.1em;
    font-weight: 700;
}
.services-provided{
    margin-block: 5em;
    display: flex;
    justify-content: space-around;
}
.service h5{
    font-size: 1.25em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.top-rated-futsals{
    padding-bottom: 2em;
    width: 100%;
}
.top-rated-header{
    font-family: monospace;
    font-size: 2.5em;
    text-align: left;
    font-family: var(--header-font);
}
.futsal-card{
    width: 30%;
    box-shadow: 5px 5px 5px rgb(207, 204, 204);
    border-radius: 10px;
    background-color: white;
}

.futsal-image{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 100%;
    height: 25vh;
    object-fit: cover;
}
.futsal-info{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-inline: 1em;
    text-align: left;
}
.futsal-info h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.futsal-info h5{
    font-size: 0.75em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.futsal-info h2, h5{
    margin: 0;
    margin: 0.25em;
    text-align: left;
}
.futsal-info h5{
    display: flex;
    gap: 1em;
    align-items: center;
}
.detail-btn{
    width: 90%;
    border: none;
    padding: 1em;
    margin: 1em;
    border-radius: 5px;
    color: white;
    font-size: 1em;
    cursor: pointer;
    background-color: rgb(97, 198, 97);
}
.detail-btn:hover{
    background-color: green;
}
.about-us-wrapper{
    width: 80%;
    margin-top: 5em;
    
}
.about-us-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-us-container h1{
    font-size: 3em;
    margin-bottom: 0;
    font-weight: 900;
    color: rgb(9, 91, 9);
}
.services-provided-about{
    margin-top: 3em;
    gap: 2em;
}
.service-about{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}