.container{
    width: 100%;
    margin: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
}

.img-container{
    width: 50%;
}
.login-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.login-form-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-form{
    width: 50%;
}
form{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
}
input[type="text"], input[type="password"]{
    padding: 1em;
    margin-top: 1em;
}
.login-btn{
    margin-top:1.5em;
    padding: 1em;
    color: white;
    border: none;
    font-size: 1em;
    background-color: rgb(31, 126, 31);
}
form small{
    margin-top: 0.5em;
    text-align: right;
}