.img-futsal-detail-page{
    width: 100%;
    height:40vh;
    object-fit: cover;
}
.fustal-detail-booking{
    display: flex;
    justify-content: space-between;
}

.futsal-content{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
}
.location{
    margin-top: 1em;
    display: flex;
}
.facilities-icons{
    margin-top: 2em;
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.facility{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.facility-icon-img{
    width: 50px;
}
.book-card{
    margin-top: 1em;
    border-radius: 5px;
    box-shadow: 0px 5px 5px rgb(203, 203, 203);
    padding: 2em;
}
.book-card h1{
    margin: 0;
}
.book-card form{
    margin-top: 1em;
}
.book-card label{
    padding-top: 0.5em;
    font-weight: 700;
}
input[type="date"]{
    padding: 1em;
}
select{
    margin-top: 1em;
    padding: 1em;
}
.book-btn{
    margin-top: 1em;
    background-color: rgb(76, 184, 76);
    border:none;
    border-radius: 5px;
    padding: 1em;
    color: white;
}
.book-btn:hover{
    cursor: pointer;
    background-color: green;
}